{% extends 'main.html' %}

{% block title %}
New Post
{% endblock %}

{% block content %}
<div>
  <form method="post" action="{{ url_for('create') }}">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form.get('title', '') }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form.get('description', '') }}</textarea>
    <input type="submit" value="Save">
  </form>
</div>
{% endblock %}